{% extends 'mainweb/base.html' %}
{% load static %}
{% block title %}{{ post.title }} {% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/banner.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <h2 class="mb-0 bread"></h2>
      </div>
    </div>
  </div>
</section><br/>
<section class="blog_area section-padding pt-3">
<div class="container">

    <div class="row">
        <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{{ object_list.imgURL }}" height="400px" alt="">
                         <p style="color: red" class="blog_item_date">Published {{ object_list.publish }}  by {{ object_list.author }}</p>
                    </div>

                    <div class="blog_details">
                     <h2> <a class="d-inline-block" href="">
                        {{ object_list.title }}

                    </a>
                    </h2>
                        <a href="whatsapp://send?text=http://www.theglobalposts.com/details/{{ object_list.id }}" data-action="share/whatsapp/share" target="_blank">Share on Whatsapp</a>
                        <p class="text-justify">{{ object_list.body|linebreaks }}</p>
                        <ul class="blog-info-link">
                           <!--  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li> -->
                            <a href="whatsapp://send?text=http://www.theglobalposts.com/details/{{ object_list.id }}" data-action="share/whatsapp/share" target="_blank">Share on Whatsapp</a>
                        </ul>
                    </div>
                </article>

            </div>
        </div>

    </div>

</div>
</section>

{% endblock content %}